########################################
#   Neopixel settings
########################################


[neopixel nozzle_LED]
# Neopixel pin
pin: EBB42:PD3
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
initial_RED: 0.58
initial_GREEN: 0.22
initial_BLUE: 0.055
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.

#[neopixel case_right]
# EXP1 D4
#pin: PD9
#chain_count: 6
#initial_RED: 0.58
#initial_GREEN: 0.22
#initial_BLUE: 0.055

#[neopixel case_left]
# EXP1 D6
#pin: PE15
#chain_count: 6
#initial_RED: 0.58
#initial_GREEN: 0.22
#initial_BLUE: 0.055


[led_effect panel_idle]
autostart:              true
frame_rate:             24
leds:
    neopixel:nozzle_LED
    #neopixel:case_right
    #neopixel:case_left
layers:
    breathing  10 1 top (.58,.22,.05)

[led_effect bed_heating]
leds:
    neopixel:nozzle_LED
#    neopixel:case_right
#    neopixel:case_left
heater: heater_bed
layers:
    heater 20 1 top (1,1,0),(1,0,0)

[led_effect nozzle_heating]
leds:
    neopixel:nozzle_LED
heater: extruder
layers:
    heater 20 1 top (1,1,0),(1,0,0)

[led_effect lights_on]
leds:
    neopixel:nozzle_LED
    #neopixel:case_right
    #neopixel:case_left
layers:
    static 1 0 top (1,1,1)

[led_effect print_finished]
leds:
    neopixel:nozzle_LED
    #neopixel:case_right
    #neopixel:case_left
layers:
    static 1 0 top (0,1,0)