#####################################################################
#   Macros
#####################################################################

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
gcode:
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 2.5 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 2.5 %}
    
    SET_LED_EFFECT EFFECT=panel_idle STOP=1
    SET_LED_EFFECT EFFECT=lights_on
    M117 Homing...
    G28 Z0
    
    M117 Heating Bed...
    SET_LED_EFFECT EFFECT=lights_on STOP=1
    SET_LED_EFFECT EFFECT=bed_heating
    {% set bed_temp = params.BED|default(55)|int %}
    M190 S{bed_temp} ; wait for bed temperature

    # insert some fancy pantsy lights effcts here
    M117 Leveling gantry...
    QUAD_GANTRY_LEVEL
    G28 Z0

    M117 Calibrate mesh...
    SET_LED_EFFECT EFFECT=lights_on
    BED_MESH_CALIBRATE ADAPTIVE=1 ; calibrate mesh

    M117 Heating nozzle...
    # move nozzle above the purge bucket
    # G90
    # G0 X{x_park} Y{y_park} F6000
    SET_LED_EFFECT EFFECT=lights_on STOP=1
    SET_LED_EFFECT EFFECT=nozzle_heating
    {% set extruder_temp = params.EXTRUDER|default(205)|int %}
    M109 S{extruder_temp} ; Set and wait for nozzle to reach temperature
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=lights_on
    M117 Cleaning nozzle...
    CLEAN_NOZZLE          ; wipe the nose

    #M117 Prime nozzle
    #ADAPTIVE_PURGE
    ##Purge Line Gcode
    #G92 E0;
    #G90
    #G0 X5 Y5 F6000
    #G0 Z0.4
    #G91
    #G1 X120 E10 F1200;
    #G1 Y1
    #G1 X-120 E10 F1200;
    #G92 E0;
    #G90
    
    #G1 Z15.0 F600 ;move the platform down 15mm
    #G90
    #G92 E0 ;zero the extruded length again
    #G1 F9000
    #M117 Printing...


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    #{% set x_park = printer.toolhead.axis_maximum.x|float / 2 %}
    #{% set y_park = printer.toolhead.axis_maximum.y|float - 0.5 %}
    {% set z_safe = printer.toolhead.axis_maximum.z|float - 2.5 %}
    
    #  Commence PRINT_END
    M400                             ; wait for buffer to clear
    G92 E0                           ; zero the extruder
    M117 Retracting Filament...
    G90                              ; absolute positioning
    # move up a little if not to high
    {% if printer.toolhead.position.z < z_safe %}
        G91
        G0 Z2 F3600
        G90
    {% endif %}

    # move to park position
    G0 X85 Y189.5 F3600           ; park nozzle over the bucket
    M117 Retracting Filament...
    UNLOAD_FILAMENT

    # M117 Clean nozzle...
    # CLEAN_NOZZLE          ; wipe the nose -> forget about this, it is not a good idea!!!!
    
    M117 Turning Heaters Off...
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    
    M117 Finished!
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=print_finished

	
[gcode_macro LOAD_FILAMENT]
gcode:
   {% set X = params.X|default(155)|float %}
   {% set Y = params.Y|default(185)|float %}
   {% set Z = params.Z|default(20)|float %}
   G90
   G1 X{X} Y{Y} F3000             ; move above the purge bucket
   G91
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 2.5 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 2.5 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F2100
  G1 Z{z_safe} F900
  G90
  G1 X{x_park} Y{y_park} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{E} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  BASE_CANCEL_PRINT

# This is to capture the unknown m201 command that the slicer sends.
[gcode_macro m201]
gcode:

# This is to capture the unknown m203 command that the slicer sends.
[gcode_macro m203]
gcode:

# This is to capture the unknown m205 command that the slicer sends.
[gcode_macro m205]
gcode:

######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.
[gcode_macro M600]
gcode:
    {% set X = params.X|default(175)|float %}
    {% set Y = params.Y|default(200)|float %}
    {% set Z = params.Z|default(20)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

# This is to capture pressure advance sent by some slicers as M900
[gcode_macro M900] 
gcode: 
    {% set pa_value = params.K|default(0)|float %}
    SET_PRESSURE_ADVANCE ADVANCE={pa_value}
