# MOTOR TYPES;
# XY; moons MS14HS5P4150-11
# Z; Oukeda OK42HC40-1684A-XH
# E; Moons CSE14HRA1L410A-01

# preset combined by Sander van Voxel3D_netherlands

# Use at your own risk!!!

#####################################################################
#   Main config
#####################################################################

[include mainsail.cfg]
[include klipperBackupMacros.cfg]
[include shaketune.cfg]
[include macros.cfg]
[include led_effects.cfg]

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_0E002C001951313433343333-if00
canbus_uuid: 71125e28d9de # your UUID of Manta MCU

[mcu EBB42]
canbus_uuid: 632ade7a1074 # your UUID of EBB MCU

#restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 450  
max_accel: 15000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 14

[input_shaper]
#shaper_freq_x: 50
#shaper_freq_y: 50
shaper_type: mzv

[resonance_tester]
probe_points: 90, 90, 20
accel_chip: adxl345

[gcode_arcs]
resolution: 1.0

[exclude_object]

#####################################################################
#   MISC
#####################################################################

[adxl345]
cs_pin: EBB42: PB12
spi_bus: spi2_PB2_PB11_PB10
axes_map: -x,-z,-y

[temperature_sensor MANTA]
sensor_type: temperature_mcu

[temperature_sensor CB1]
sensor_type: temperature_host

[temperature_sensor EBB42_MCU]
sensor_type: temperature_mcu
sensor_mcu: EBB42

[duplicate_pin_override]
pins: temperature_host
#   A comma separated list of pins that may be used multiple times in
#   a config file without normal error checks. This parameter must be
#   provided.

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_1
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
rotation_distance: 32
microsteps: 16
full_steps_per_rotation:200  
position_min: 0
##--------------------------------------------------------------------
position_endstop: 173
position_max: 173
homing_positive_dir: true
endstop_pin: EBB42:PB6 # add this once the x stop story is settled
homing_retract_dist: 3
homing_speed: 65   #Max 100 

# Motor1
[tmc2209 stepper_x]
uart_pin: PC13
interpolate: false
run_current: 0.600

#####################################################################

##  A Stepper - Right
##  Connected to MOTOR_2
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
rotation_distance: 32
microsteps: 16
full_steps_per_rotation:200 
position_min: 0
##--------------------------------------------------------------------
position_endstop: 190
position_max: 190
homing_positive_dir: true
endstop_pin: ^PF3
homing_retract_dist: 3
homing_speed: 65   #Max 100 

# Motor2
[tmc2209 stepper_y]
uart_pin: PE3
interpolate: false
run_current: 0.600 
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_3
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 32
gear_ratio: 64:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop
##--------------------------------------------------------------------
position_max: 165
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

# Motor3
[tmc2209 stepper_z]
uart_pin: PB9
interpolate: false
run_current: 0.5
stealthchop_threshold: 999999


#####################################################################

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_4
[stepper_z1]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB6
rotation_distance: 32
gear_ratio: 64:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: false
run_current: 0.5
stealthchop_threshold: 999999


#####################################################################

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_5
[stepper_z2]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
rotation_distance: 32
gear_ratio: 64:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PG14
interpolate: false
run_current: 0.5
stealthchop_threshold: 999999


#####################################################################

##  Z3 Stepper - Front Right
##  Connected to MOTOR_6
[stepper_z3]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11 
rotation_distance: 32
gear_ratio: 64:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PG10
interpolate: false
run_current: 0.5
stealthchop_threshold: 999999


#####################################################################
#   Extruder
#####################################################################

##  Connected to EBB canbus board
[extruder]
step_pin: EBB42: PD0
dir_pin: !EBB42: PD1
enable_pin: !EBB42: PD2
rotation_distance: 22.09973205   # Suggested to tune yourself
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: EBB42: PB13
max_extrude_cross_section: 5
max_extrude_only_distance: 101
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBB42: PA3
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid      # Suggested to tune yourself
#pid_kp = 26.679
#pid_ki = 1.533
#pid_kd = 116.055
pressure_advance: 0.0175     # Suggested to tune yourself
pressure_advance_smooth_time: 0.040

##  E0 on EBB can
[tmc2209 extruder]
uart_pin: EBB42: PA15
interpolate: true
run_current: 0.500
stealthchop_threshold: 999999


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA0 # HE0
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 0.6
min_temp: 0
max_temp: 120

#####################################################################
#   Probe - moved to klicky.cfg
#####################################################################

[include klicky.cfg] 


#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Print Cooling Fan - FAN0
pin: EBB42: PA1
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: EBB42: PA0
heater: extruder
heater_temp: 50.0

[temperature_fan CB1_fan]
##  Controller fan - FAN3
pin: PF8
sensor_type: temperature_host
min_temp: 10
max_temp: 80
target_temp: 60
control: pid # or watermark
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0
min_speed: 0.0
max_speed: 1.0

#############
# 	Probe
#############
[probe]
pin: EBB42:PB9 
x_offset: 0
y_offset: 27.5
speed: 20
lift_speed:5
#z_offset: 6  # Will be overridden when you do a PROBE_CALIBRATE
samples: 2
samples_tolerance: 0.05
samples_tolerance_retries: 3

[bed_mesh]
speed: 120
horizontal_move_z: 10
mesh_min: 13,27.5
mesh_max: 160,140
probe_count: 5,5
algorithm: bicubic
fade_start: 1.0
fade_end: 10
mesh_pps: 2,2
adaptive_margin: 5

[quad_gantry_level]
speed: 100
horizontal_move_z: 8
retries: 5
retry_tolerance: 0.0075
max_adjust: 10
gantry_corners:
   -60.2,-10.4
   244.1,234.5
#  Probe points
points:
  13,1
  13,140
  160,140
  160,1

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 42.162
#*# pid_ki = 1.358
#*# pid_kd = 327.284
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.698
#*# pid_ki = 14.533
#*# pid_kd = 18.392
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 82.0
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 70.0
#*#
#*# [probe]
#*# z_offset = 6.143
